html { 
	height: 100%; 
}
body { 
	height: 100%; 
	padding: 70px 0 0 0;
}
header{
	text-align:left;
	padding: 20px 0 0 10px;
}
.notify{
	line-height: 18px;
	background-color: #FF3333;
	color: #FFFFFF;
	text-align: center;
	padding: 0px 0px 0px 0px;
	border-radius: 20px;
	position: absolute;
	font-size: 6px;
	width:18px;
	height:18px;
	top:5px;
	transition:all 0.5s;
}